<div class="row">
    <div class="col-6">
        <app-doughnut title= "Ventas1"
                      [labels]="label1"
                      [data]="data1">

        </app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut title= "Ventas2"
                     [labels]="label2"
                      [data]="data2">
        </app-doughnut>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-doughnut title= "Ventas3"
                     [labels]="label3"
                      [data]="data3">
        </app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut title= "Ventas4"
                     [labels]="label4"
                      [data]="data4">
        </app-doughnut>
    </div>
</div>
